html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #27CEA1;
    text-align: center; 
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Georgia;
}

#content-splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.hiden{
    display: none;
}

#content-start{
    height: 100%;
    width: 100%;
    position: absolute;
}


header{
    height: 30%;
    background-color: #27CEA1;
}

.start-main{
    height: 40%;
    background-color:#DEB887;
}

.content-start-main{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

p{
    margin: 0px;
    padding: 10px;
}

footer{
    height: 30%;
    background-color: #27CEA1;
}

.logo{
    padding: 25px;
}

#content-main{
    height: 100%;
    width: 100%;
    position: absolute;
}

.main{
    height: 70%;
    display: flex;
    width: 100%;
}

.content-filter{
    width: 600px;
    background-color: aliceblue;
}

.content-filtered{
    position: relative;
    width: 800px;
    background-color:#DEB887;
    padding: 10px;
}

input[type="text"]{
    border-radius: 5px;
    height: 25px;
    width: 350px;
    border-width: 1px
}

input[type="radio"]{
    height: 25px;
    width: 30px;  
}

#btn-search-restaurant{
    height: 25px;
    width: 100px;  
    border-radius: 5px;
}

select{
    border-radius: 5px;
    height: 25px;
    width: 250px;
    border-width: 1px
}

.list-filtered{
   display: flex;
}

.filtered{
    margin: 10px;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.restaurante-filtered{
    height: 180px;
    width: 200px;
}

ul li{
    list-style-type: none;
    text-align: left;
    padding: 10px;
}

@media only screen and (max-width: 360px) {
    input[type="text"] {
        border-radius: 5px;
        height: 25px;
        width: 250px;
        border-width: 1px;
    }

    #btn-search-restaurant {
        margin: 30px;
        height: 25px;
        width: 100px;
        border-radius: 5px;
    }

    .main {
        height: 70%;
        width: 100%;
        display: block;
        position: absolute;
       
    }

    header{
        width: 100%;
    }

    .content-filter {
        width: 100%;
        background-color: aliceblue;
    }

    .content-filtered {
        padding: 0px;
        width: 100%;
        background-color: #DEB887;
    }

    .list-filtered{
        display: block;
     }

     .filtered {
        margin: 0px;
        height: auto;
        width: 100%;
    }

     ul li{
        list-style-type: none;
        text-align: left;
        padding: 10px;
        margin: 0px;
    }
}