@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #F8F8F8;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Georgia;
}

.container{
    background-color:#F8F8F8;
}

.content-main{
    box-sizing: border-box;
    display: inline-block;
}

.content-title{
    position: relative;
    height: 15vh;
    text-align: center;
}

.title, .splash-title{
    font-family: 'Spicy Rice', cursive;
    font-size: 60px;
    color: #EC6C76;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash-title{
    text-shadow: 5px 5px 50px #F8F8F8;
}

.hiden{
    display: none;
}

.item-filtered{
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.photo-restaurant{
    height: 180px;
    width: 200px;
    background-position:  50% 50%; 
    background-repeat: no-repeat;
    object-fit: cover;
}

.content-filtered{
    position: relative;
    margin-top: 40vh;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.modal-header{
    background-color: #EC6C76;
}